<div class="menu-nav">

<div class="menu">
  <ul>
    <li><a routerLink="" target="_blank">Inicio</a></li>
    <li><a routerLink='casacos' target="_blank">Casacos</a></li>
    <li><a routerLink='kits' target="_blank">Kits</a></li>
    <li><a routerLink='contato' target="_blank">Contato</a></li>
  </ul>

  <div class="imagem">
  <img src="{{logo}}" alt="logo" height="80px">
</div>

</div>
  <hr>
</div>

<router-outlet></router-outlet>

<hr>

<h3>Redes Sociais</h3>

<div>
<ol>
  <li><a href="https://www.instagram.com/marconicabral/" target="_blank">Instagram</a></li>
</ol>
</div>
